<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
        backupGlobals="true"
        colors="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.cache"
        cacheResult="false"
        verbose="true"
        backupStaticProperties="false"
        requireCoverageMetadata="false">
  <coverage/>
  <testsuites>
    <testsuite name="All CacheLib Tests">
      <directory>tests/CacheLibTests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src/CacheLib</directory>
    </include>
    <exclude>
      <directory>tests/CacheLibTests</directory>
    </exclude>
  </source>
</phpunit>
